body {
  margin: 0;
  height: 2000px;
}

.icon-bar {
  position: fixed;
  top: 60%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  float: right;
  z-index: 9999;
  display: none;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 14px;
  transition: all 0.3s ease;
  color: white;
  font-size: 18px;
  margin: 6px 6px 6px 6px !important;
}

.icon-bar a:hover {
  background-color: rgb(43, 39, 39);
}

.facebook {
  background: #3b5998;
  color: white;
}

.twitter {
  background: #55acee;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #ee4545;
  color: white;
}
.instagram {
  background: #ee4545;
  color: white;
}
.pinterest {
  background: #d22735;
  color: white;
}

@media screen and (max-width: 768px) {
  .icon-bar {
    display: none;
  }

  .icon-bar a {
    display: none;
    text-align: center;
    padding: 6px 12px;
    transition: all 0.3s ease;
    color: white;
    font-size: 18px;
    margin: 6px 6px 6px 6px !important;
  }
}
