DEBA Please show the social buttons in file
src\app\home\socialview\socialview.component.html
<div class="icon-bar">
  <a [href]="facebookURL" class="facebook" target="_blank" aria-label="Follow Destinique on Facebook">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
  <a [href]="instagramURL" class="instagram" target="_blank" aria-label="Follow Destinique on Instagram">
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </a>
  <a [href]="pinterestURL" class="pinterest" target="_blank" aria-label="Follow Destinique on Pinterest">
    <i class="fa fa-pinterest" aria-hidden="true"></i>
  </a>
  <a [href]="twitterURL" class="twitter" target="_blank" aria-label="Follow Destinique on Twitter">
    <i class="fa fa-twitter" aria-hidden="true"></i>
  </a>
  <a [href]="youtubeURL" class="youtube" target="_blank" aria-label="Follow Destinique on YouTube">
    <i class="fa fa-youtube" aria-hidden="true"></i>
  </a>
</div>
