/*form*/
.review-form {
  justify-content: center;
  margin: 0px;
  .testimonials-Review {
    text-align: left;
    color: #777;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 300;
    letter-spacing: 5px;
  }
  .card {
    background: transparent;
    border-color: #e0e0e0 !important;
    border-radius: unset;
    border: 1px solid #dee2e6 !important;
    border-top: 0px !important;
  }
  .lbl {
    font-weight: 400;
    font-size: 0.9rem;
    text-transform: uppercase;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
  }
  .form-control {
    border-radius: 0rem;
    letter-spacing: 1px;
  }
  .btn-al-r {
    text-align: right;
    display: inline-block;
  }
  .btn {
    font-family: inherit;
    background: #378f86;
    background-color: #378f86;
    border-style: none none none none;
    color: #fff;
    border-color: #378f86 #378f86 #378f86 #378f86;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 3px;
    border-radius: 0;
  }
  .mr-1, .mx-1 {
    margin-right: .25rem !important;
  }
  .btn:hover {
    color: #33d286;
    background-color: #000;
  }
  .btn-primary:hover {
    background-color: #000 !important;
    border-color: #000 !important;
    color: #33d286;
    box-shadow: 0 4px 14px 0 rgba(5, 5, 5, 0.47);
  }
  .btn-secondary {
    background-color: gray;
  }
  @media screen and (max-width: 768px) {
    .testimonials-Review {
      font-size: 1.5rem;
      font-weight: 300;
      letter-spacing: 4px;
    }
  }
}

/*consent*/
a {
  text-decoration: none;
}
.opt-in-text-s {
  font-size: 12px;
  color: #555;
  margin-bottom: 1rem;
  label {
    display: block;
  }
}
.sms-mms-consent .collapse:not(.show) {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: auto !important;
  max-width: calc(100% - 90px);
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sms-mms-consent .collapse, .email-consent .collapse {
  float: left;
}
.sms-mms-consent .collapsing, .email-consent .collapsing {
  min-height: 20px !important;
}
/*
.sms-mms-consent a.collapsed:after, .email-consent a.collapsed:after {
  content: '+ Read More';
}
.sms-mms-consent a:not(.collapsed):after, .email-consent a:not(.collapsed):after {
  content: '- Read Less';
}
*/
a.collapsed {
  color: #6fccc2;
}
.sms-mms-consent a:hover, .sms-mms-consent a:active, .sms-mms-consent a:focus, .email-consent a:hover, .email-consent a:active, .email-consent a:focus {
  color: #6fccc2;
  text-decoration: underline !important;
}
.opt-in-text-s input {
  background-color: #fff !important;
  border-color: #E0E0E0 !important;
  border-width: 1px !important;
  border-radius: 0 !important;
  padding: .75rem .75rem .5rem .75rem !important;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  padding-block-end: 8px !important;
  padding-block-start: 12px !important;
  padding-inline-end: 12px !important;
  padding-inline-start: 12px !important;
  accent-color: #378f86;
}
.email-consent .collapse:not(.show) {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: auto !important;
  max-width: calc(100% - 90px);
  white-space: nowrap;
  text-overflow: ellipsis;
}
