.app-form-input {
  .required-asterisk {
    color: #e63946;
  }

  input.form-control {
    background-color: #fff !important;
    border-color: #E0E0E0 !important;
    border-width: 1px !important;
    border-radius: 0 !important;
    padding: 0.75rem 0.75rem 0.5rem 0.75rem !important;
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
    padding-block-end: 8px !important;
    padding-block-start: 12px !important;
    padding-inline-end: 12px !important;
    padding-inline-start: 12px !important;
    accent-color: #378f86;
  }
}

