@font-face {
  font-family: "Montserrat";
  src: url("./montserrat-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./montserrat-semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
