<div class="connectus-container">
    <div class="overlay-effect h-100 w-100"></div>
    <img loading="lazy" decoding="async" class="img-fluid" src="assets/website_images/home/connectus/connectBaner.webp" alt="Contact Destinique for personalized luxury travel assistance" width="1425" height="950"/>
    <div class="centered">
        <h3>
            Need Help? Let Us Be Your Guide
        </h3>
        <h5>
            Submit Your Information And We'll Get In Touch Right Away.
        </h5>
        <a target="_blank" class="btn contact-btn" [routerLink]="['/contact']">CONTACT</a>
    </div>
</div>
