/*FOOTER FEEDBACK*/
.feedback {
  .form-heading {
    letter-spacing: 5px;
    padding-left: 1.25rem;
  }
  .form-inquiries-title {
    padding-left: 1.25rem;
    font-size: 1rem;
  }
}
.card {
  background: transparent;
  border-radius: unset;
  .footer-contact-elements {
    &::placeholder {
      color: #aaa !important;
      font-weight: 400 !important;
      text-transform: uppercase;
    }
    input, textarea {
      background-color: #fff !important;
      border-color: #E0E0E0 !important;
      border-width: 1px !important;
      border-radius: 0 !important;
      padding: .75rem .75rem .5rem .75rem !important;
      font-size: 1rem !important;
      line-height: 1.5rem !important;
      font-weight: 400 !important;
      letter-spacing: 1px !important;
      padding-block-end: 8px !important;
      padding-block-start: 12px !important;
      padding-inline-end: 12px !important;
      padding-inline-start: 12px !important;
      accent-color: #378f86;
    }
  }
}
.btn {
  background-color: #378f86 !important;
  color: #fff !important;
  padding: 10px 20px;
  box-shadow: 0 2px 6px 1px rgba(20, 20, 20, 0.48);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 3px;
  text-decoration: none;
  border: 0px !important;
  transition: 0.5s;
  border-radius: 0px !important;
  margin-top: 1rem;
  margin-right: 6px;
  &:hover {
    color: #33d286 !important;
    background: #111 !important;
    background-color: #111 !important;
    box-shadow: 0 4px 14px 0 rgba(5, 5, 5, 0.47);
  }
}
.footer-review-sub-btn {
  background: #e63946 !important;
  background-color: #e63946 !important;
  color: #fff !important;
  border-color: #e63946 !important;
  transition: 0.5s;
}
input::placeholder, textarea::placeholder {
  opacity: 1;
  border-radius: 0rem !important;
  color: #aaa !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  font-size: 1rem !important;
}

.sms-mms-consent .collapse:not(.show) {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: auto !important;
  max-width: calc(100% - 90px);
  white-space: nowrap;
  text-overflow: ellipsis;
}
.email-consent .collapse:not(.show) {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: auto !important;
  max-width: calc(100% - 90px);
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sms-mms-consent .collapse, .email-consent .collapse {
  float: left;
}
.sms-mms-consent .collapsing, .email-consent .collapsing {
  min-height: 20px !important;
}
/*
.sms-mms-consent a.collapsed:after, .email-consent a.collapsed:after {
  content: '+ Read More';
}
.sms-mms-consent a:not(.collapsed):after, .email-consent a:not(.collapsed):after {
  content: '- Read Less';
}
*/
a.collapsed {
  color: #6fccc2;
}
.sms-mms-consent a:hover, .sms-mms-consent a:active, .sms-mms-consent a:focus, .email-consent a:hover, .email-consent a:active, .email-consent a:focus {
  color: #6fccc2;
  text-decoration: underline;
}
.opt-in-text-s {
  font-size: 12px;
  color: #ccc;
  padding: 4px 6px;
  label {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  .footer-navs-header {
    padding-bottom: .5rem !important;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .form-heading {
    font-size: 28px;
    padding-top: 3rem;
  }
  .col-6 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 100%;
  }
}

