.container {
    padding: 4rem 1rem;
}
.privacy-policy a {
    font-weight: bold;
}
.privacy-policy-header {
    font-size: 3rem;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 10px;
    text-align: center;
    color: #68110A;
    text-transform: uppercase;
}
.privacy-policy-intro {
    padding-top: 4rem;
    font-size: 16px;
    color: #222;
    letter-spacing: .1px;
}
.privacy-policy-item {
    margin-top: 24px;
}
.privacy-policy-item h4 {
    font-size: 16px;
}
.privacy-policy-item h4 span {
    font-weight: bold;
}
.privacy-policy-item-content {
    margin-bottom: 8px;
}
.privacy-policy-item-content span {
    font-weight: bold;
    padding-left: 24px;
    font-size: 14px;
}
.privacy-policy-item-content ul {
    margin-top: 0px;
}
.text-re-maroon {
    color: #68110A;
}
.underline {
    text-decoration: underline;
}
.p-l-24 {
    padding-left: 24px;
}
.privacy-nb {
    font-weight: 600;
    color: #68110A;
    padding-top: 1rem;
}
.contact-email {
    font-weight: 500 !important;
}