<div class="destinique-services">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h2 class="services-header"> OUR LUXURY SERVICES</h2>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="services-single-item">
                    <img src="assets/website_images/our-services/PRIVATE_JETS.webp" alt="PRIVATE JETS" title="PRIVATE JETS" loading="lazy" decoding="async" class="img-fluid">
                    <div class="services-img-text">
                        <div class="services-first-text">PRIVATE JETS</div>
                        <div>& <span class="services-second-text">HELICOPTERS</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="services-single-item">
                    <img src="assets/website_images/our-services/WELLNESS_SPA.webp" alt="WELLNESS & SPA" title="WELLNESS & SPA" loading="lazy" decoding="async" class="img-fluid">
                    <div class="services-img-text">
                        <div class="services-first-text">WELLNESS</div>
                        <div>& <span class="services-second-text">SPA</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="services-single-item">
                    <img src="assets/website_images/our-services/PRIVATE_DRIVERS.webp" alt="PRIVATE DRIVERS & AIRPORT TRANSFERS" title="PRIVATE DRIVERS & AIRPORT TRANSFERS" loading="lazy" decoding="async" class="img-fluid">
                    <div class="services-img-text">
                        <div class="services-first-text">PRIVATE DRIVERS</div>
                        <div>& <span class="services-second-text">AIRPORT TRANSFERS</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="services-single-item">
                    <img src="assets/website_images/our-services/PRIVATE_CHEFS.webp" alt="PRIVATE CHEFS" title="PRIVATE CHEFS" loading="lazy" decoding="async" class="img-fluid">
                    <div class="services-img-text">
                        <div class="services-first-text">PRIVATE CHEFS</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="services-single-item">
                    <img src="assets/website_images/our-services/WELCOME_PACKAGES.webp" alt="WELCOME PACKAGES" title="WELCOME PACKAGES" loading="lazy" decoding="async" class="img-fluid">
                    <div class="services-img-text">
                        <div class="services-first-text">WELCOME PACKAGES</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="services-single-item">
                    <img src="assets/website_images/our-services/LUXURY_CHARTERS.webp" alt="LUXURY CHARTERS PRIVATE YACHTS" title="LUXURY CHARTERS PRIVATE YACHTS" loading="lazy" decoding="async" class="img-fluid">
                    <div class="services-img-text">
                        <div class="services-first-text">LUXURY CHARTERS</div>
                        <div>& <span class="services-second-text">PRIVATE YACHTS</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="services-single-item">
                    <img src="assets/website_images/our-services/BABY_EQUIPMENT.webp" alt="BABY EQUIPMENT" title="BABY EQUIPMENT" loading="lazy" decoding="async" class="img-fluid">
                    <div class="services-img-text">
                        <div class="services-first-text">BABY EQUIPMENT</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="services-single-item">
                    <img src="assets/website_images/our-services/ATTRACTIONS.webp" alt="ATTRACTIONS" title="ATTRACTIONS"  loading="lazy" decoding="async" class="img-fluid">
                    <div class="services-img-text">
                        <div class="services-first-text">ATTRACTIONS</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="services-single-item">
                    <img src="assets/website_images/our-services/SPORTING_EVENTS.webp" alt="SPORTING EVENTS" title="SPORTING EVENTS" loading="lazy" decoding="async" class="img-fluid">
                    <div class="services-img-text">
                        <div class="services-first-text">SPORTING EVENTS</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="services-single-item">
                    <img src="assets/website_images/our-services/GROCERY_PACKAGES.webp" alt="GROCERY PACKAGES" title="GROCERY PACKAGES" loading="lazy" decoding="async" class="img-fluid">
                    <div class="services-img-text">
                        <div class="services-first-text">GROCERY PACKAGES</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="services-single-item">
                    <img src="assets/website_images/our-services/SPECIAL_ACCESS_EXPERIENCES.webp" alt="SPECIAL ACCESS EXPERIENCES" title="SPECIAL ACCESS EXPERIENCES" loading="lazy" decoding="async" class="img-fluid">
                    <div class="services-img-text">
                        <div class="services-first-text">SPECIAL ACCESS EXPERIENCES</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="services-single-item">
                    <img src="assets/website_images/our-services/GOLF_PACKAGES.webp" alt="GOLF PACKAGES" title="GOLF PACKAGES" loading="lazy" decoding="async" class="img-fluid">
                    <div class="services-img-text">
                        <div class="services-first-text">GOLF PACKAGES</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
