hr {
    border-color: #dee2e6!important;
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.col-md-6,
.col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}
.galleryview-container {
    text-align: center;
    h1 {
        font-size: 53px;
        line-height: 40px;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: capitalize;
        padding-bottom: 1rem;
        text-align: center;
        color: #3b3b3b;
        padding-top: 1.5rem;
        span{
            text-transform: uppercase;
        }
    }

}
.carousel {
    position: relative;
    width: 100%;
    .carousel-inner {
        img {
            width: 100% !important;
            height: 400px;
        }
        .carousel-caption {
            position: absolute;
            right: 15%;
            bottom: 20px;
            left: 15%;
            padding-top: 20px;
            padding-bottom: 20px;
            color: #fff;
            text-align: center;
            top: 143px;
            z-index: 10;
            a {
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 2.5rem;
                line-height: 40px;
                font-weight: 100;
                font-style: normal;
                text-decoration: none;
            }
        }
    }
    .carousel-control-prev {
        opacity: 1;
        margin-left: 15px;
        .fa-angle-left {
            font-size: 26px;
            background-color: #fff;
            color: #000;
            padding: 4px 15px 0px 10px;
            border-radius: 50%;
            height: 2.2rem;
            width: 2.2rem;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .carousel-control-next {
        opacity: 1;
        margin-right: 15px;
        .fa-angle-right {
            font-size: 26px;
            background-color: #fff;
            color: #000;
            padding: 4px 10px 0px 15px;
            border-radius: 50%;
            height: 2.2rem;
            width: 2.2rem;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
.desktop-v {
    margin-left: 0;
    margin-right: 0;
}

.image-border {
    border: none;
    position: relative;
    &:hover .overlay {
        opacity: 1;
    }

    img {
        padding: 1.2px;
        display: block;
        background-size: contain;
        object-fit: cover;
    }

    .w-50-h-50 {
        width: 100%;
        height: 50vh;
    }
    .w-25-h-25 {
        width: 100%;
        height: 25vh;
    }
    .w-25-h-50 {
        width: 100%;
        height: 50vh;
    }
    .overlay {
        bottom: 0;
        padding: 0px;
        opacity: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 1);
        color: #fff;
        display: table !important;
        position: absolute;
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;
        h3 {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            letter-spacing: 1px;
            font-size: 40px;
            line-height: 40px;
            font-weight: 100;
            font-style: normal;
            margin: 0 auto;
        }
    }
}
.phone-v {
    img {
        width: 100% !important;
        height: 400px;
    }
    .carousel-item {
        position: relative;
        text-align: center;
        color: white;
    }
    .carousel-caption {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
        color: #fff;
        text-align: center;
        transform: translate(-50%, -50%);
        bottom: initial;
        padding: 0 !important;
        min-width: 80%;
        a {
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 2.5rem;
            line-height: 40px;
            font-weight: 100;
            font-style: normal;
            text-decoration: none;
        }
    }

}
@media (max-width: 1280px) {
    h3 {
        font-size: 40px;
        line-height: 40px;
    }
}
@media (max-width: 1024px) {
    h3 {
        font-size: 30px;
        line-height: 40px;
    }
}
@media (min-width: 768px) {
    .phone-v {
        display: none;
    }
}
@media (max-width: 767px) {
    h1 {
        font-size: 100%;
        font-weight: 100 !important;
    }
    .galleryview-container h1 {
        font-size: 2rem;
        font-weight: 400 !important;
    }
    h3 {
        font-size: 2.5rem;
        line-height: 40px;
    }
    .carousel-caption a {
        font-size: 2rem !important;
    }
    .col-md-12,
    .col-md-6,
    .col-md-4,
    .col-12,
    .col-6,
    .col-4 {
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .desktop-v {
        display: none;
    }
}
@media (max-width: 375px) {
    h1 {
        letter-spacing: 0px;
    }
}