<div class="row main-section">
    <div class="col">
        <div class="overlay-effect w-100"></div>
        <div class="image-area">
            <a target="_blank" [routerLink]="['/properties']">
                <img width="400" height="558" loading="lazy" decoding="async" src="assets/website_images/home/sections/blue-exotic-hotel-189296.webp" alt="prop-image" class="images img-fluid">
                <span class="span1"></span>
                <span class="span2"></span>
                <div class="carousel-caption">
                    <h6>properties</h6>
                    <div class="btn">→</div>
                </div>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="overlay-effect w-100"></div>
        <a target="_blank" [routerLink]="['/map']">
            <div class="image-area">
                <span class="span1"></span>
                <span class="span2"></span>
                <img loading="lazy" decoding="async" src="assets/website_images/home/sections/wall.webp" alt="map-image" class="images img-fluid" width="400" height="558">
                <div class="carousel-caption">
                    <h6>map</h6>
                    <div class="btn">→</div>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <div class="overlay-effect w-100"></div>
        <a target="_blank" [routerLink]="['/testimonials']">
            <div class="image-area">
                <span class="span1"></span>
                <span class="span2"></span>
                <img loading="lazy" decoding="async" src="assets/website_images/home/sections/aboutus.webp" alt="testimonials-image" class="images img-fluid" width="400" height="558">
                <div class="carousel-caption">
                    <h6>testimonials</h6>
                    <div class="btn">→</div>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <div class="overlay-effect w-100"></div>
        <a href="https://blog.destinique.com/" target="_blank" rel="noopener noreferrer">
            <div class="image-area">
                <span class="span1"></span>
                <span class="span2"></span>
                <img loading="lazy" decoding="async" src="assets/website_images/home/sections/travel-blog.webp" alt="blog-image" class="images img-fluid" width="400" height="558">
                <div class="carousel-caption">
                    <h6>travel blog</h6>
                    <div class="btn">→</div>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <div class="overlay-effect w-100"></div>
        <a target="_blank" [routerLink]="['/contact']">
            <div class="image-area">
                <span class="span1"></span>
                <span class="span2"></span>
                <img loading="lazy" decoding="async" src="assets/website_images/home/sections/beach-exotic-holiday-248797.webp" alt="contact-image" class="images img-fluid" width="400" height="558">
                <div class="carousel-caption">
                    <h6>contact us</h6>
                    <div class="btn">→</div>
                </div>
            </div>
        </a>
    </div>
</div>
