.container {
    padding: 4rem 1rem;
}
.terms-con-header {
    font-size: 3rem;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 10px;
    text-align: center;
    color: #68110a;
    text-transform: uppercase;
}
.terms-con-intro {
    padding-top: 4rem;
    font-size: 16px;
    color: #222;
    letter-spacing: .1px;
}
.Terms-And-Con a {
    font-weight: 700;
}
.underline {
    text-decoration-line: underline;
}
.text-re-maroon {
    color: #68110a;
}
.terms-con-item {
    margin-top: 24px;
}
.terms-con-item h4 {
    font-size: 16px;
}
.terms-con-item h4 span {
    font-weight: 700;
}
.terms-con-item-content {
    margin-bottom: 8px;
}
.terms-con-item-content {
    margin-bottom: 8px;
}
.terms-con-item-content ul {
    margin-top: 0;
    display: block;
    list-style-type: disc;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
.terms-con-item-content span {
    font-weight: 700;
    padding-left: 24px;
    font-size: 14px;
}
.contact-email {
    font-weight: 500 !important;
}