<div class="container">
    <div class="mbr-justify-content-center Terms-And-Con">
        <div class="terms-con-head-intro">
            <h2 class="terms-con-header">Terms And Conditions</h2>
            <div class="terms-con-intro"> Welcome to Destinique, LLC, doing business as Destinique Travel (hereinafter 'Destinique Travel' or 'Company')!<br><br> These Terms and Conditions outline the rules and regulations for using our
                website, located at <a href="https://www.destinique.com" class="text-re-maroon underline"> https://www.destinique.com</a>. By accessing this website, you agree to comply with these terms. If you do not agree with
                any part of these terms, please discontinue use of our website immediately. </div>
        </div>
        <div class="terms-con-item">
            <h4>1. <span>Definitions</span></h4>
            <div class="terms-con-content">
                <div class="terms-con-item-content">
                    <ul>
                        <li>"Client," "You," and "Your" refer to the user accessing this website and accepting the Company’s terms.</li>
                        <li>"Company," "We," "Our," and "Us" refer to Destinique Travel.</li>
                        <li>"Parties" refers to both the Client and the Company. </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="terms-con-item">
            <h4>2. <span>Governing Law</span></h4>
            <div class="terms-con-content">
                <div class="terms-con-item-content"> These Terms are governed by and interpreted in accordance with the laws of the United States (Georgia jurisdiction), without regard to conflict of law principles. Any legal disputes shall be filed exclusively in Georgia courts. </div>
            </div>
        </div>
        <div class="terms-con-item">
            <h4>3. <span>Cookies</span></h4>
            <div class="terms-con-content">
                <div class="terms-con-item-content"> We use cookies to enhance user experience. By accessing Destinique Travel, you consent to our use of cookies in accordance with our Privacy Policy. Cookies help improve website functionality, including user authentication and analytics.
                </div>
            </div>
        </div>
        <div class="terms-con-item">
            <h4>4. <span>Intellectual Property Rights</span></h4>
            <div class="terms-con-content">
                <div class="terms-con-item-content"> Unless otherwise stated, Destinique Travel owns the intellectual property rights to the website's content, branding, and proprietary materials, including but not limited to website design, logos, and text. However, property listings, images,
                    and descriptions are owned by third-party property managers, owners, or licensors. Users are granted limited access for personal use only. </div>
                <div class="terms-con-item-content"><span>You may not:</span>
                    <ul>
                        <li>Republish, sell, rent, or sub-license proprietary website content.</li>
                        <li>Reproduce, duplicate, or copy proprietary materials from our website.</li>
                        <li>Redistribute website content without written permission.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="terms-con-item">
            <h4>5. <span>Third-Party Properties &amp; Listings</span></h4>
            <div class="terms-con-content">
                <div class="terms-con-item-content"> Destinique Travel features third-party vacation rental properties on our website. These properties are managed by independent property owners or management companies, and Destinique Travel does not own, operate, or control them. While
                    we strive to present accurate and up-to-date information, we do not guarantee the availability, pricing, policies, or terms of these third-party listings. All bookings are subject to the property owner’s terms and conditions. We are
                    not responsible for any issues arising from third-party property reservations. </div>
            </div>
        </div>
        <div class="terms-con-item">
            <h4>6. <span>Booking, Cancellations &amp; Refunds</span></h4>
            <div class="terms-con-content">
                <div class="terms-con-item-content"> All reservations and payments are made directly with the property manager or owner. Destinique Travel is not responsible for cancellations, refund policies, or payment disputes. </div>
                <div class="terms-con-item-content">
                    Any refund requests, disputes, or booking modifications must be handled directly with the property manager. Destinique does not mediate or guarantee refunds. </div>
                <div class="terms-con-item-content"> Non-refundable booking fees may apply based on the terms of each individual property manager. </div>
            </div>
        </div>
        <div class="terms-con-item">
            <h4>7. <span>Use of Third-Party Services</span></h4>
            <div class="terms-con-content">
                <div class="terms-con-item-content"> Destinique Travel may offer services such as car rentals, insurance, vacation rentals, and hotel bookings through third-party providers, including but not limited to Expedia. These services are governed by the terms and conditions of the
                    respective third-party companies, and we do not assume responsibility for their availability, pricing, or service quality. Destinique Travel may display property listings, images, and descriptions sourced from Expedia or other third-party
                    platforms. Users acknowledge that any booking, modification, or dispute related to these properties must be handled directly with the third-party provider.Destinique Travel may offer services such as car rentals, insurance, and hotel
                    bookings through third-party providers. These services are governed by the terms and conditions of the respective third-party companies, and we do not assume responsibility for their availability, pricing, or service quality. </div>
            </div>
        </div>
        <div class="terms-con-item">
            <h4>8. <span>User Comments &amp; Content Submission</span></h4>
            <div class="terms-con-content">
                <div class="terms-con-item-content"> Parts of this website may allow users to post comments or other content. Destinique Travel does not pre-screen comments and is not responsible for their content. However, we reserve the right to remove any content deemed inappropriate,
                    offensive, or in violation of these Terms. </div>
                <div class="terms-con-item-content"><span>By posting content, you warrant that:</span>
                    <ul>
                        <li>You have the necessary rights and permissions to share the content.</li>
                        <li>The content does not infringe third-party intellectual property rights.</li>
                        <li>The content does not contain defamatory, offensive, or illegal material.</li>
                        <li>The content will not be used for unlawful solicitation or commercial promotion.</li>
                    </ul>
                </div>
                <div class="terms-con-item-content"> By posting, you grant Destinique Travel a non-exclusive, royalty-free license to use, reproduce, and distribute your content in any media. </div>
            </div>
        </div>
        <div class="terms-con-item">
            <h4>9. <span>Hyperlinking Policy</span></h4>
            <div class="terms-con-content">
                <div class="terms-con-item-content"><span>The following entities may link to our website without prior approval:</span>
                    <ul>
                        <li>Government agencies, search engines, news organizations.</li>
                        <li>Online directories linking similarly to other businesses.</li>
                    </ul>
                </div>
                <div class="terms-con-item-content"><span>We may approve links from:</span>
                    <ul>
                        <li>Business or consumer information sources.</li>
                        <li>Community and trade associations.</li>
                        <li>Educational institutions.</li>
                    </ul>
                </div>
                <div class="terms-con-item-content"><span>Approved entities may hyperlink to our website using:</span>
                    <ul>
                        <li>Our corporate name.</li>
                        <li>The specific URL being linked to.</li>
                        <li>A relevant description that does not misrepresent our business.</li>
                        <li>Unauthorized use of Destinique Travel' logo or branding requires a trademark license agreement.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="terms-con-item">
            <h4>10. <span>iFrames</span></h4>
            <div class="terms-con-content">
                <div class="terms-con-item-content"> Without written approval, you may not create frames around our webpages that alter their visual presentation or functionality. </div>
            </div>
        </div>
        <div class="terms-con-item">
            <h4>11. <span>Listing Accuracy &amp; Responsibility</span></h4>
            <div class="terms-con-content">
                <div class="terms-con-item-content"> Property managers and owners are solely responsible for ensuring the accuracy of their listings, including pricing, amenities, availability, and descriptions. Destinique Travel does not verify or guarantee listing accuracy and assumes
                    no liability for discrepancies. </div>
            </div>
        </div>
        <div class="terms-con-item">
            <h4>12. <span>Content Liability</span></h4>
            <div class="terms-con-content">
                <div class="terms-con-item-content"> We are not responsible for content appearing on external websites linking to or from Destinique Travel. You agree to defend us against all claims arising from your website's content. </div>
            </div>
        </div>
        <div class="terms-con-item">
            <h4>13. <span>Privacy Policy</span></h4>
            <div class="terms-con-content">
                <div class="terms-con-item-content"> Please refer to our Privacy Policy for information on how we collect, use, and protect your data. We may share user data with third-party partners for marketing or service-related purposes, but users can opt out at any time. </div>
            </div>
        </div>
        <div class="terms-con-item">
            <h4>14. <span>Reservation of Rights</span></h4>
            <div class="terms-con-content">
                <div class="terms-con-item-content"><span>We reserve the right to:</span>
                    <ul>
                        <li>Request the removal of links to our website.</li>
                        <li>Amend these Terms and Conditions at any time. Continued use of the website constitutes acceptance of modifications.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="terms-con-item">
            <h4>15. <span>Disclaimer of Liability</span></h4>
            <div class="terms-con-content">
                <div class="terms-con-item-content"><span>To the maximum extent permitted by law, we exclude all representations, warranties, and conditions related to our website and services. Nothing in this disclaimer limits liability for:</span>
                    <ul>
                        <li>Death or personal injury caused by negligence.</li>
                        <li>Fraud or fraudulent misrepresentation.</li>
                        <li>Any liabilities that cannot be excluded under applicable law.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="terms-con-item">
            <h4>16. <span>Removal of Links &amp; Website Accuracy</span></h4>
            <div class="terms-con-content">
                <div class="terms-con-item-content"> If you find a link on our website that is offensive or outdated, you may contact us for review. While we consider all requests, we are not obligated to remove links or respond directly. We do not guarantee website availability, accuracy,
                    or completeness. </div>
            </div>
        </div>
        <div class="terms-con-item">
            <h4>17. <span>Message Frequency</span></h4>
            <div class="terms-con-content"><span>Users can expect to receive messages daily, weekly or as needed based on their inquiries.</span></div>
        </div>
        <div class="terms-con-item">
            <h4>18. <span>Help and Support</span></h4>
            <div class="terms-con-content"><span>Please open chat for live support or call us at PH: +1-850-312-5400</span></div>
        </div>
        <div class="terms-con-item">
            <h4>19. <span>Contact Information</span></h4>
            <div class="terms-con-content">
                <div class="terms-con-item-content"> For any inquiries regarding these Terms and Conditions, please &nbsp;&nbsp;
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-open" viewBox="0 0 16 16"><path d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.817l5.75 3.45L8 8.917l1.25.75L15 6.217V5.4a1 1 0 0 0-.53-.882zM15 7.383l-4.778 2.867L15 13.117zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734ZM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765z"/></svg>
                    Contact Us: <a class="text-re-maroon underline contact-email" href="mailto:inquiry@destinique.com">[Email: inquiry@destinique.com] </a></div>
            </div>
        </div>
    </div>
</div>
