.profile-main {
    --tw-bg-opacity: 1;
    background-color: rgb(250,250,250);
    padding-left: .5rem !important;
    padding-right: .5rem !important;
    padding-top: 2rem !important;
    padding-bottom: 4rem !important;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.welcome-user-name {
    border: 1px solid #dee2e6 !important;
    background-color: #fff;
    padding: 1rem !important;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    overflow: hidden !important;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
}
.p-user-name {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}
.personal-info-head {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: rgb(33,33,33);
    margin-top: 2rem !important;
    margin-bottom: 0px;
}
.personal-info {
    background-color: #fff;
    padding: 2rem;
    border: 1px solid #dee2e6 !important;
}
.personal-info img {
    margin-bottom: 1rem;
}
.personal-details-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.items-center {
    align-items: center;
    overflow: hidden !important;
}
.user-img-con {
    position: relative;
    width: 10rem;
    height: 10rem;
    display: flex;
    object-fit: contain;
}

.profile-img-x {
    position: absolute;
    top: -.1rem;
    right: -.1rem;
    color: #ff9dac;
    cursor: pointer;
    padding-left: .5rem !important;
    padding-right: .5rem !important;
    padding-top: .25rem;
    padding-bottom: .25rem;
}
.profile-img-x:hover {
    color: red;
}
.profile-img-up {
    color:transparent;
    width: 100%;
    object-fit: contain;
    margin: auto;
    height: 160px;
    widows: 160px;
}
.items-center {
    align-items: center;
    overflow: hidden !important;
}
.flex {
    display: flex;
}
.mt-1 {
    margin-top: 1rem !important;
}
.p-img-up-btn {
    background-color: #333;
    color: #eee;
    border-color: #378f86;
    padding: 6px 20px;
    box-shadow: 0 2px 6px 1px rgba(20, 20, 20, 0.48);
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 3px;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 0px;
    text-transform: uppercase;
    border: 0px !important;
    min-width: 9rem;
}
.btn:hover {
    background-color: #000 !important;
    border-color: #000 !important;
    color: #33d286 !important;
    box-shadow: 0 4px 14px 0 rgba(5, 5, 5, 0.47);
}
.p-info-box {
    flex-direction: column;
    display: flex;
}
.p-info-box .mt-1 {
    font-weight: 400;
    color: #002245 !important;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1.5rem;
    letter-spacing: .1em;
}
.input-box {
    width: 100%;
    --tw-border-opacity: 1;
    border-color: rgb(224,224,224);
}
.form-control {
    color: #000000;
    border: 1px solid #002245;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    background-clip: padding-box;
}
select, input {
    background-color: #fff !important;
    border-color: #e0e0e0 !important;
    border-width: 1px !important;
    border-radius: 0 !important;
    padding: .75rem .75rem .5rem !important;
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
    padding-block-end: 8px !important;
    padding-block-start: 12px !important;
    padding-inline-end: 12px !important;
    padding-inline-start: 12px !important;
    accent-color: #378f86;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn-secondary {
    background-color: #378f86;
    border-color: #378f86;
    padding: 6px 20px;
    box-shadow: 0 2px 6px 1px rgba(20, 20, 20, 0.48);
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 3px;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 0px;
    text-transform: uppercase;
    border: 0px;
}
select.form-control {
    padding-block-start: 6px !important;
}
hr {
    border-top: 1px solid #9e9e9e;
    width: 100%;
    margin-top: 2rem;
}
.p-info-btn {
    float: right;
    margin-left: auto;
}
@media (min-width: 720px) {
    .input-box {
        padding-top: .75rem;
    }
    .profile-main {
        padding-left: 1.25rem !important;
        padding-right: 1.25rem !important;
    }
}
@media (min-width: 960px) {
    .profile-main {
        padding-left: 2.75rem !important;
        padding-right: 2.75rem !important;
    }
}

/*consent*/
.opt-in-text-s {
    font-size: 12px;
    color: #555;
    margin-bottom: 1rem;
    label {
        display: block;
    }
}
.sms-mms-consent .collapse:not(.show) {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: auto !important;
    max-width: calc(100% - 90px);
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sms-mms-consent .collapse, .email-consent .collapse {
    float: left;
}
.sms-mms-consent .collapsing, .email-consent .collapsing {
    min-height: 20px !important;
}
/*
.sms-mms-consent a.collapsed:after, .email-consent a.collapsed:after {
    content: '+ Read More';
}
.sms-mms-consent a:not(.collapsed):after, .email-consent a:not(.collapsed):after {
    content: '- Read Less';
}
*/
a.collapsed {
    color: #6fccc2;
}
.sms-mms-consent a:hover, .sms-mms-consent a:active, .sms-mms-consent a:focus, .email-consent a:hover, .email-consent a:active, .email-consent a:focus {
    color: #6fccc2;
    text-decoration: underline;
}
.opt-in-text-s input {
    background-color: #fff !important;
    border-color: #E0E0E0 !important;
    border-width: 1px !important;
    border-radius: 0 !important;
    padding: .75rem .75rem .5rem .75rem !important;
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
    padding-block-end: 8px !important;
    padding-block-start: 12px !important;
    padding-inline-end: 12px !important;
    padding-inline-start: 12px !important;
    accent-color: #378f86;
}
.email-consent .collapse:not(.show) {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: auto !important;
    max-width: calc(100% - 90px);
    white-space: nowrap;
    text-overflow: ellipsis;
}
