<div class="map-container">
    <div class="overlay-effect h-100 w-100"></div>
    <img src="assets/website_images/map/map-banner.webp" alt="contact-banner" loading="lazy" decoding="async" class="img-fluid"/>
    <div class="centered">
        <h1 class="text-center">Property Locations</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="location-locator-search-map">
                <div class="mb-3">
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16"><path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/></svg> Single Location
                    </p>
                    <label> Search By City</label>
                    <input type="text" class="form-control" placeholder="Enter City"/>
                </div>
            </div>
            <img class="img-fluid" src="assets/website_images/map/map.jpg" alt="map" loading="lazy" decoding="async"/>
        </div>
    </div>
</div>
