body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.toast-custom-top-right {
  position: fixed !important;
  top: 20px !important;
  right: 20px !important;
  z-index: 999999 !important;
}

//Adjusting the login modal width
ngb-modal-window.destinique-login-dialog {
  --bs-modal-width: 600px !important;
    z-index: 999999 !important;
}
@media screen and (max-width: 600px) {
    ngb-modal-window.destinique-login-dialog {
        --bs-modal-width: 320px !important;
        z-index: 999999 !important;
    }
}
